/*
Theme Name: Zox News Child
Theme URI: http://themeforest.net/user/mvpthemes
Description: Zox News helps you go from blogger to boss by giving you a wide range of tools and options to give you the most professional-looking and functioning news site on the net. Zox News comes with a mobile-first-design, 8 article layouts, 4 Featured Posts layouts, parallax leaderboard ad, Theia Post Slider, Theia Sticky Sidebar, Reviewer Plugin, Woocommerce-ready, and so much more!
Author: Andre Maj
Author URI: https://vermoegen.org
Template: zox-news
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain: zox-news-child
*/
.button-wrapp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.random_post_widget {
    display: flex;
    flex-direction: column;
}

.random-button {
    background: #f9f9f9;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 28px;
    position: relative;

}

.random-button:before {
    content: '';
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.random-button img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.zox-child-text-section {
    padding: 0.625rem 0;
}

.zox-child-text-section * {
    font-family: 'PT Serif', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
}

.zox-child-text-section h1,
.zox-child-text-section h2,
.zox-child-text-section h3,
.zox-child-text-section h4,
.zox-child-text-section h5,
.zox-child-text-section h6 {
    margin-bottom: 0.625rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.1;
}

.zox-child-text-section h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.zox-child-text-section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.zox-child-text-section h3 {
    font-size: 1.2rem;
}

.zox-child-text-section h4 {
    font-size: 1rem;
}

.zox-child-text-section h5 {
    font-size: 0.875rem;
}

.zox-child-text-section h6 {
    font-size: 0.75rem;
    margin-bottom: 0.625rem;
}

.zox-child-text-section p {
    margin-bottom: 0.625rem;
}

.zox-child-text-section strong {
    font-weight: 700;
}

.zox-child-text-section ul {
    list-style: disc;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
}

.zox-child-text-section ol {
    list-style: initial;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
}

.zox-child-top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.zox-child-top-list.asc-dir {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.zox-child-top-list-item a {
    color: #000;
}

/* Single post content */
.single #mvp-content-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.single #mvp-content-main > * {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.single #mvp-content-main > .kk-star-ratings {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.single #mvp-content-main > .helpful {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

/* Hide time on posts */
.mvp-cat-date-wrap .mvp-cd-date {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Net worth table CSS */
#mvp-content-main .zox-child-single-table {
    margin-bottom: 1em;
    border: none;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
}

#mvp-content-main .zox-child-single-table td,
#mvp-content-main .zox-child-single-table th {
    padding: 5px 1.5%;
    border: none;
    background: 0 0;
    text-align: left;
    float: none !important;
}

#mvp-content-main .zox-child-single-table thead th {
    border-bottom: 1px solid #ddd;
}

#mvp-content-main .zox-child-single-table tfoot th,
#mvp-content-main .zox-child-single-table thead th {
    margin-top: 0;
    /* background-color: #111; */
    background-color: #fff200;
    font-weight: 600;
    /* color: #fff; */
    vertical-align: middle;
}

#mvp-content-main .zox-child-single-table tbody td {
    vertical-align: top;
}

#mvp-content-main .zox-child-single-table tbody td,
#mvp-content-main .zox-child-single-table tfoot th {
    border-top: 1px solid #ddd;
}

#mvp-content-main .zox-child-single-table tbody tr:nth-child(even) td {
    background-color: #fff;
}

#mvp-content-main .zox-child-single-table tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

#mvp-content-main .zox-child-single-table tbody tr:first-child td {
    border-top: 0;
}

#mvp-content-main .zox-child-single-table tbody tr:hover td {
    background-color: #f3f3f3;
}

/* Single post text CSS */
#mvp-content-main p,
.mvp-post-add-main p {
    font-size: 1.3125rem;
}

#mvp-content-main ul,
#mvp-content-main ol,
.mvp-post-add-main ul,
.mvp-post-add-main ol {
    font-size: 1.125rem;
}

#mvp-content-main p,
#mvp-content-main ul,
#mvp-content-main ol,
.mvp-post-add-main p,
.mvp-post-add-main ul,
.mvp-post-add-main ol {
    line-height: 2.11;
}

#mvp-content-main .zox-child-top-list p a {
    box-shadow: none;
}

/* Hide the date of publication */
.mvp-author-info-text .mvp-author-info-date {
    display: none;
}

.mvp-main-blog-cont {
    z-index: 2;
}

/* Fixing of links on the pages */
/* @media (max-width: 478.98px) {
    .mvp-blog-story-col > a,
    .mvp-post-more-list > a,
    .mvp-related-posts-list > a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
} */

/* Footer CSS */
footer#mvp-foot-wrap {
    background-color: #4AC9E3;
}

footer #mvp-foot-bot {
    background-color: #4AC9E3;
}

footer #mvp-foot-copy p {
    color: #333;
}

/* Comments CSS */
#mvp-comments-button {
    display: none;
}

#mvp-comments-button + #comments {
    display: block;
}

/* Navigation logo */
#mvp-fly-logo img {
    width: auto;
}

@media screen and (max-width: 767.98px) {
    #mvp-content-main p,
    .mvp-post-add-main p {
        font-size: 1.125rem;
    }

    #mvp-content-main ul,
    #mvp-content-main ol,
    .mvp-post-add-main ul,
    .mvp-post-add-main ol {
        font-size: 1rem;
    }

    #mvp-content-main .zox-child-single-table {
        font-size: 1.25rem;
    }
}

@media (max-width: 478.98px) {
    #mvp-content-body #mvp-content-main p,
    .mvp-post-add-main p {
        font-size: 1.125rem;
    }

    #mvp-content-body #mvp-content-main ul,
    #mvp-content-body #mvp-content-main ol,
    .mvp-post-add-main ul,
    .mvp-post-add-main ol {
        font-size: 1rem;
    }
}

header .mvp-nav-top-right {
    display: none;
}

.calculator {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 50px 30px;
    margin-bottom: 20px;
}

.calculator .mb-3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.calculator .mb-3:last-of-type {
    margin-bottom: 0;
}

.calculator .mb-3 input[type="text"] {
    margin: 0 0 0px auto;
    height: 36px;
    padding: 0 15px;
    box-sizing: border-box;
    width: 254px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.calculator .mb-3 label {
    font-size: 24px;
}

.calculator .mb-3 span {
    margin-left: 25px;
    font-size: 24px;
    display: block;
}

.calculator .mb-3 .button {
    height: 36px;
    width: 196px;
    border: 1px solid #000;
    background: #88c057;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.calculator .mb-3 .button:hover {
    background: rgba(136, 192, 87, 0.6);
}

#mvp-main-body-wrap {
    padding-top: 40px;
}

.category-title h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.category-title p {
    font-size: 18px;
    margin-bottom: 10px;
}

.comment-form-author input {
    width: 100% !important;
    height: 36px;
    box-sizing: border-box;
    padding: 0 15px;
}

.comment-form-comment textarea {
    resize: none;
    width: 100% !important;
    box-sizing: border-box;
    padding: 10px 15px;
}

.comment-form-cookies-consent label {
    margin-left: 5px;
}

.comment-form-cookies-consent {
    display: flex;
    flex-direction: row;
}

.comment-form-author input:focus-visible,
.comment-form-comment textarea:focus-visible {
    box-shadow: none !important;
    outline: none !important;
}

.form-submit input[type="submit"],
.comment-form-author label,
.comment-form-comment label {
    font-size: 18px !important;
}

.form-submit input[type="submit"] {
    background-color: #ff005b !important;
    height: 36px;
}

.form-submit input[type="submit"]:hover {
    background: rgba(255, 0, 91, 0.6) !important;
}

#respond #submit {
    border-radius: 0 !important;
}

#comments .c p {
    font-size: 18px !important;
}

.mvp-blog-story-col .mvp-blog-story-img {
    max-height: 240px !important;
}

.mvp-blog-story-col {
    height: 440px;
}

.wp-pagenavi {
    clear: both;
    display: inline-block;
    position: relative;
    font-size: .8rem;
    font-weight: 700;
    line-height: 100%;
    padding: 0;
    text-transform: uppercase;
}

.wp-pagenavi span, .wp-pagenavi a {
    background: #fff;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #aaa !important;
    display: block;
    float: left;
    font-size: .8rem;
    font-weight: 400;
    margin: 2px 5px 2px 0;
    padding: 9px 12px 8px;
    text-decoration: none;
    width: auto;
}

.wp-pagenavi .current, .wp-pagenavi a:hover {
    background: #aaa;
    border-color: inherit !important;
    color: #fff !important;
}

#mvp-foot-copy a:hover {
    color: #ff005b;
}

.swal2-container.swal2-bottom, .swal2-container.swal2-center, .swal2-container.swal2-top {
    z-index: 1111111;
}
#mvp-fly-soc-wrap{
	display: none !important;
}
nav.mvp-fly-nav-menu{
	max-height: calc(100% - 100px); 
	overflow-y: auto;
	height: calc(100% - 100px); 
}
.open-menu{
	overflow: hidden !important
}
@media (max-width: 1199px) {
    .calculator .mb-3 label {
        font-size: 16px;
    }

    .calculator .mb-3 span {
        font-size: 16px;
    }

    .calculator .mb-3 input[type="text"] {
        width: calc(100% - 280px);
    }

    .mvp-blog-story-col {
        height: auto !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 1003px) {
    header .mvp-nav-top-right {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    header #mvp-main-nav-top {
        height: 50px !important;
    }

    #search_form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #search_form input[type="search"] {
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 2px 0 0 2px;
        width: 210px;
        padding: 0 15px;
    }

    #search_form button {
        background-color: #ff005b;
        border-radius: 0;
        border: none;
        width: 40px;
        padding: 0;
        color: #fff;
        border: 2px solid #ccc;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 2px;
    }

    #search_form .random-button {
        width: auto;
        height: 40px;
        background: #ccc;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 2px;
        padding: 5px 10px;
        margin-left: 15px;
        font-size: 12px;
        color: #000;
        transition: all 0.3s ease;
    }

    #search_form .random-button:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: #fff;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: all 0.3s ease;

    }

    #search_form .random-button:hover {
        color: #ff005b;
    }

    #mvp-nav-top-wrap .mvp-fly-but-wrap:hover span {
        background-color: #ff005b;
    }

    #search_form .random-button img {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 1;
        margin: 0 5px 0 0 !important;
    }

    .mvp-nav-top-left .mvp-fly-but-wrap {
        z-index: 2;
    }

    header .mvp-nav-logo-small {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .mvp-nav-logo-small img {
        height: 50px !important;
        width: auto;
    }

    header .mvp-nav-top-wrap,
    header .mvp-nav-top-mid {
        height: auto !important;
    }

    .mvp-fly-but-wrap span:nth-child(3) {
        display: none;
    }

    .mvp-fly-but-wrap span:nth-child(2),
    .mvp-fly-but-wrap span:nth-child(4) {
        width: 100%;
    }

    .mvp-fly-but-wrap:after {
        display: block;
        width: 100%;
        margin-top: auto;
        content: 'menü';
        font-family: sans-serif;
        font-size: 9px;
        font-weight: 900;
        color: inherit;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .mvp-fly-but-wrap {
        display: -webkit-flex !important;
        display: -moz-flex !important;
        display: -ms-flex !important;
        display: -o-flex !important;
        display: flex !important;
        flex-direction: column;
        position: static !important;
        margin-top: 0 !important;
        height: auto !important;
        width: 44px;
        height: 44px !important;
        border: 2px solid #333;
        padding: 8px 5px 4px;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .mvp-fly-but-wrap span {
        width: 100%;
        position: static !important;
        margin-bottom: 3px;
    }

    #mvp-fly-wrap .mvp-fly-but-wrap {
        margin: 5px 0 0 !important;
    }

    .mvp-fly-but-wrap.mvp-fly-open span:nth-child(4),
    .mvp-fly-but-wrap.mvp-fly-open span:first-child {
        display: none;
    }

    .mvp-fly-but-wrap.mvp-fly-open span:nth-child(2) {
        top: 5px;
    }

    .mvp-fly-but-wrap.mvp-fly-open span:nth-child(3) {
        display: block;
        top: 0;
    }

    .mvp-fly-but-wrap.mvp-fly-open span {
        position: relative !important;
        width: 25px !important;
        left: 2px;
    }

    header #mvp-main-nav-top {
        height: auto !important;
    }

    #search_form input[type="search"],
    header .mvp-search-wrapp {
        width: 100%;
    }

    #search_form label {
        position: absolute;
        width: calc(100vw - 43px);
        top: calc(100% + 10px);
        right: 0px;
    }

    #search_form_input {
        display: none;
    }

}
@media only screen and (max-width: 767px) {
	nav.mvp-fly-nav-menu{
		height: calc(100vh - 200px) !important;
		overflow-y: auto;
		max-height: calc(100vh - 200px) !important;
	}

}
@media (max-width: 599px) {
    .mvp-nav-top-left-in {
        margin-left: 0 !important;
    }

    #search_form .random-button {
        font-size: 0;
        padding: 0px;
        width: 40px;
    }

    #search_form .random-button img {
        margin-right: 0 !important;
    }

    #search_form .random-button::before {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #search_form label {
        width: calc(100vw - 50px);
    }

    .mvp-nav-top-left-in {
        margin-left: auto !important;
        width: 170px;
        margin-right: auto;
    }
}

@media (max-width: 519px) {
    .calculator .mb-3 label {
        width: 100%;
    }

    .calculator .mb-3 input[type="text"] {
        width: calc(100% - 60px);
    }

    .calculator {
        padding: 20px 10px;
    }
}

@media (max-width: 479px) {
    #search_form label {
        width: calc(100vw - 30px);
    }
}

@media (max-width: 399px) {
    header .mvp-nav-logo-small img {
        height: 40px !important;
    }

    #search_form .random-button {
        margin-left: 5px;
    }
}
