/**
Alex L
 */

nav.mvp-fly-nav-menu ul li a {
    color: #000 !important;
}

#mvp-main-head-wrap {
    position: static !important;
}

html body #mvp-fly-wrap,
html body #mvp-main-nav-small-cont,
html body #mvp-main-nav-small,
html body .mvp-nav-small-cont {
    height: auto;
}
html body #mvp-main-nav-small{
	overflow: visible;
}
html body .mvp-nav-small-cont {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
	position: relative;
}

html body .mvp-nav-small-mid {
    margin: 0 auto;
}

html body .mvp-fly-but-wrap span:nth-child(3) {
    display: none;
}

html body .mvp-fly-but-wrap span:nth-child(2),
html body .mvp-fly-but-wrap span:nth-child(4) {
    width: 100%;
}

html body .mvp-fly-but-wrap:after {
    display: block;
    width: 100%;
    margin-top: auto;
    content: 'menü';
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 900;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}

html body .mvp-nav-small-cont {
    grid-column-gap: 0px;
}

html body .mvp-nav-small-logo {
    height: 44px;
}

html body .mvp-nav-small-logo a {
    display: block;
    height: 44px;
}
#mvp-nav-small-left{
	margin-top: 10px !important;
}
.mvp-fly-but-wrap {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: flex !important;
    flex-direction: column;
    position: static !important;
    margin-top: 0 !important;
    height: auto !important;
    width: 44px;
    height: 44px !important;
    border: 2px solid #333;
    padding: 8px 5px 4px;
    border-radius: 8px;
    box-sizing: border-box;
	margin-top: 10px; 
}

.mvp-fly-but-wrap span {
    width: 100%;
    position: static !important;
    margin-bottom: 3px;
}

#mvp-fly-wrap .mvp-fly-but-wrap {
    margin: 15px 15px 0 auto !important;
}

.mvp-fly-but-wrap.mvp-fly-open span:nth-child(4),
.mvp-fly-but-wrap.mvp-fly-open span:first-child {
    display: none;
}

.mvp-fly-but-wrap.mvp-fly-open span:nth-child(2) {
    top: 5px;
}

#sidebar .mvp-fly-but-wrap span:nth-child(2),
#sidebar .mvp-fly-but-wrap span:nth-child(3) {
    display: block;
    width: 24px;
}

#sidebar .mvp-fly-but-wrap span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -2px);
}

#sidebar .mvp-fly-but-wrap span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -1px);
}

.mvp-fly-but-wrap.mvp-fly-open span:nth-child(3) {
    display: block !important;
    top: 0;
}

.mvp-fly-but-wrap.mvp-fly-open span {
    position: relative !important;
    width: 25px !important;
    left: 2px;
}

#mvp-nav-small-left {
    margin: 0px 0;
    width: auto;
    height: auto;
}

#mvp-content-bot {
    font-family: 'Roboto', sans-serif;
    color: #000;
    float: left;
    font-weight: 700;
    margin-right: 10px;
}

#mvp-prev-next-wrap {
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#mvp-prev-next-wrap span.mvp-prev-next-label {
    font-size: .7rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}

.mvp-prev-next-text p {
    color: #222 !important;
    float: left;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2;
    width: 100%;
}

span.mvp-next-arr {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

span.mvp-prev-arr {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

span.mvp-prev-arr,
span.mvp-next-arr {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
}

span.mvp-prev-arr:before {
    content: '';
    border-bottom: 5px solid #bbb;
    border-left: 5px solid #bbb;
    transform: rotate(45deg) translateY(-50%);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 2px;
}

.mvp-prev-cont-out {
    padding-left: 40px;
}

.mvp-next-cont-out {
    padding-right: 40px;
}

#mvp-prev-next-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mvp-prev-post-wrap,
.mvp-next-post-wrap {
    width: calc((100% - 20px) / 2);
    float: none;
}

.mvp-next-post-wrap {
    order: 1;
}

span.mvp-next-arr:after {
    content: '';
    border-top: 5px solid #bbb;
    border-right: 5px solid #bbb;
    transform: rotate(45deg) translateY(-50%);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 2px;
}

amp-sidebar,
amp-sidebar #mvp-fly-wrap {
    background: #fff !important;
}

#mvp-content-main p {
    font-size: 19px;
    line-height: 32px;
}

#mvp-content-main p:empty {
    display: none;
}

#mvp-post-feat-img {
    margin-bottom: 15px;
}

.mvp-prev-post-wrap [class*="-layout-fill"],
.mvp-next-post-wrap [class*="-layout-fill"] {
    width: 100%;
    height: 192px;
    object-fit: cover;
    object-position: top;
}

.mvp-prev-post-wrap .thumb,
.mvp-next-post-wrap .thumb {
    height: 192px;
    position: relative;
}

.mvp-prev-next-text {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;

}

nav.mvp-fly-nav-menu ul li ul.sub-menu {
    padding-left: 20px;
}

nav.mvp-fly-nav-menu ul li.menu-item-has-children {
    position: relative;
}

nav.mvp-fly-nav-menu .dropdown-toggle {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    right: 0;
    top: 13px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

nav.mvp-fly-nav-menu .dropdown-toggle:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 15px;
    background: #0be6af;
}

nav.mvp-fly-nav-menu .dropdown-toggle:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 4px;
    background: #0be6af;
}

nav.mvp-fly-nav-menu .dropdown-toggle.toggled-on + ul {
    display: block;
}

nav.mvp-fly-nav-menu .dropdown-toggle.toggled-on:before {
    opacity: 0;
}

nav.mvp-fly-nav-menu ul li ul.sub-menu li a {
    font-size: 12px;
    padding: 5px 0;
}

#mvp-fly-menu-top {
    height: 74px;
}

#mvp-content-main .expert-block {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: #F4FCDC;
    border: 1px solid #E5E7E2;
    border-radius: 3px;
}

#mvp-content-main .expert-block h3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#mvp-content-main .expert-block h3::after {
    display: inline-block;
    content: "";
    margin-left: auto;
    width: 70px;
    height: 70px;
    background: transparent url('/wp-content/themes/zox-news-child/images/expertentipp.png') no-repeat center center/contain;
}

#ez-toc-container {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    display: table;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    width: auto;
    font-family: 'PT Serif', sans-serif;
}

#ez-toc-container p {
    margin-bottom: 0;
}

#ez-toc-container ul {
    margin: 0;
    font-size: 1.125rem;
    line-height: 2.11;
    counter-reset: item;
    list-style: none;
}

ul.mvp-post-more-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
}

ul.mvp-post-more-list > li {
    width: calc((100% - 40px) / 3);
}

#ez-toc-container ul li {
    margin-left: 50px;
    padding: 5px 0px;
}

#ez-toc-container ul li a {
    color: #444;
}

#ez-toc-container ul li a::before {
    content: counters(item, ".") ". ";
    display: inline-block;
    counter-increment: item;
    margin-right: .2em;
}

#search_form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
	
}
#search_form.active label{
	display: block;
}
#search_form input {
    height: 40px;
    width: 290px;
    padding: 0 15px;
    border: 1px solid #999;
    border-radius: 5px;
}

#search_form button {
    font-size: 0;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

#search_form label {
    position: absolute;
    right: 0px;
	left: 0;
	top: 60px;
	z-index: 1;
	display: none;

}

#search_form button:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 6px;
    left: 7px;
}

#search_form button:after {
    content: '';
    width: 12px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 24px;
    left: 20px;
    transform: rotate(45deg);
}

#mvp-content-main table {
    margin-bottom: 30px;
}

.calculator {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 50px 30px;
    margin-bottom: 20px;
}

.calculator .mb-3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.calculator .mb-3:last-of-type {
    margin-bottom: 0;
}

.calculator .mb-3 input[type="text"] {
    margin: 0 0 0px auto;
    height: 36px;
    padding: 0 15px;
    box-sizing: border-box;
    width: calc(100% - 400px);
    border: 1px solid #aaa;
    border-radius: 4px;
}

.calculator .mb-3 label {
    font-size: 24px;
}

.calculator .mb-3 span {
    margin-left: 25px;
    font-size: 24px;
    display: block;
}

.calculator .mb-3 .button {
    height: 36px;
    width: 196px;
    border: 1px solid #000;
    background: #88c057;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.calculator .mb-3 .button:hover {
    background: rgba(136, 192, 87, 0.6);
}

.mvp-search-wrapp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin-top: 10px;
}
#search_form.active {
    margin-bottom: 60px;
}

#search_form input[type="search"] {
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 2px 0 0 2px;
    width: 100%;
    padding: 0 15px;
}
#search_form input[type="search"]:focus-visible{
	box-shadow: none !important;
	outline:none !important;
} 
#search_form button {
    background-color: #ff005b;
    border-radius: 2px;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #ccc;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}

#random-btn {
    width: auto;
    height: 40px;
    background: #ccc;
    border: 1px solid #ccc;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
	padding: 5px 10px;
	margin-left: 10px;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
}

#random-btn:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff; 
    top: 50%;
    left: 15px;
    transform: translateY( -50%);

}
#random-btn > *{
	margin-right: 10px;
}
#random-btn:hover{
	color: #ff005b;
}

#mvp-nav-top-wrap .mvp-fly-but-wrap:hover span {
    background-color: #ff005b;
}
#mvp-content-main .zox-child-single-table tfoot th, 
#mvp-content-main .zox-child-single-table thead th {
    margin-top: 0;
    background-color: #fff200;
    font-weight: 600;
	vertical-align: middle;
}
#mvp-content-main .zox-child-single-table thead th {
    border-bottom: 1px solid #ddd;
}
#mvp-content-main .zox-child-single-table tbody td, 
#mvp-content-main .zox-child-single-table tfoot th {
    border-top: 1px solid #ddd;
}
#mvp-content-main .zox-child-single-table td,
#mvp-content-main .zox-child-single-table th {
    padding: 5px 1.5%;
    border: none;
    text-align: left;
    float: none !important;
}
#mvp-content-main .zox-child-single-table td:first-of-type,
#mvp-content-main .zox-child-single-table th:first-of-type{
	width: 165px; 
}
#mvp-content-main .zox-child-single-table tbody tr:hover td {
    background-color: #f3f3f3;
}
#mvp-content-main .zox-child-single-table tbody tr:nth-child(2n+1) td {
    background-color: #f9f9f9;
}
#mvp-content-main .zox-child-single-table {
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
}
#mvp-content-main table{
	max-width: 690px;
}
.comment-form-author input {
    width: 100% !important;
    height: 36px;
    box-sizing: border-box;
	padding: 0 15px;
}
.comment-form-comment textarea{
	resize: none;
	width: 100% !important;
	box-sizing: border-box;
	padding: 10px 15px;
}
.comment-form-cookies-consent label{
	margin-left: 5px;
}
.comment-form-cookies-consent {
    display: flex;
    flex-direction: row;
}
.comment-form-author input:focus-visible,
.comment-form-comment textarea:focus-visible{
	box-shadow: none !important;
	outline:none !important;
} 
.form-submit input[type="submit"],
.comment-form-author label,
.comment-form-comment label{
	font-size: 18px !important;
}
.form-submit input[type="submit"]{
	background-color: #ff005b !important;
	height: 36px;
}
.form-submit input[type="submit"]:hover{
	background:  rgba(255, 0, 91,0.6) !important;
}
#respond #submit{
	border-radius: 0 !important;
}
#mvp-main-body-wrap {
	margin-top: 20px !important;
}
#comments .c p{
	font-size: 18px !important;
}
.mvp-blog-story-col{
    height: 440px !important;
}
.swal2-container.swal2-bottom, .swal2-container.swal2-center, .swal2-container.swal2-top{
    z-index: 111111;
}
.sidebar{
    max-width: 900px;
    margin: 0 auto 50px;
}
#searchform #s{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #999;
    font-size: 16px;
    height: 36px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
} 
#random-btn-widget::before {
    content: '';
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
#random-btn-widget {
    background: #f9f9f9;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 28px;
    position: relative;
    justify-content: space-between;
    border: none;
}
body:not(.single) #mvp-article-cont #mvp-post-more-wrap{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 900px;
    margin: 0 auto; 
    display: table;
    float: none;

}
nav.mvp-fly-nav-menu{
	height: calc(100vh - 200px) !important;
	overflow-y: auto;
}
amp-sidebar{
	overflow: hidden !important;
}
@media screen and (max-width: 940px) {
    .sidebar{
        padding: 0 20px;
    }
}
@media screen and (max-width: 660px) {
	
    ul.mvp-post-more-list {
        grid-gap: 30px 0px;
    }

    ul.mvp-post-more-list > li {
        width: 100%;
    }

    .calculator .mb-3 label {
        font-size: 14px;
    }

    .calculator .mb-3 span {
        margin-left: 10px;
        font-size: 14px;
    }

    .calculator .mb-3 input[type="text"] {
        width: calc(100% - 230px);
    }
	#mvp-post-more-wrap {
		padding: 0px;
		box-sizing: border-box;
	}
    
}

@media screen and (max-width: 499px) {
    .mvp-prev-post-wrap,
    .mvp-next-post-wrap {
        width: 100%;
    }

    span.mvp-prev-arr:before,
    span.mvp-next-arr:after {
        display: none;
    }

    .mvp-next-post-wrap {
        margin-top: 15px;
    }

    .mvp-prev-cont-out {
        padding-left: 0px;
    }

    .mvp-next-cont-out {
        padding-right: 0px;
    }

    #mvp-main-body-wrap {
        margin-top: 20px !important;
    }

    h1.mvp-post-title {
        font-size: 25px !important;
    }

    .mvp-prev-next-text,
    .mvp-prev-next-cont {
        width: 100% !important;
    }

    .mvp-prev-next-cont > * {
        float: none;
    }

    .calculator .mb-3 label {
        width: 100%;
        font-size: 18px;
    }

    .calculator .mb-3 span {
        font-size: 18px;
    }

    .calculator .mb-3 input[type="text"] {
        width: calc(100% - 47px);
    }

    .calculator {
        padding: 20px 10px;
    }
	#mvp-content-main .zox-child-single-table th,
	#mvp-content-main .zox-child-single-table td{
		font-size: 18px;
	}
}
@media screen and (max-width: 459px) {
	#random-btn > *{
		margin-right: 0;
	}
	#random-btn{
		width:40px;
		padding: 0;
		font-size: 0;
	}
	#random-btn::before {
		left: 50%; 
		transform: translate(-50%, -50%);
	}
	#mvp-main-body-wrap {
		margin-top: 0px;
	}
}
@media screen and (max-width: 359px) {
	#random-btn{
		margin-left: 2px !important;
		width: 30px;
		height: 30px;
		
	}
	#search_form button{
		width: 30px;
		height: 30px;
	}
	#search_form button::before {
		top: 3px;
		left: 5px;
		width: 10px;
		height: 10px;
	}
	#search_form button::after {
		width: 7px;
		height: 3px;
		top: 16px;
		left: 15px;
	}
	.mvp-search-wrapp {
		margin-top: 17px;
	}
}

.amp-wp-default-form-message {
    display: none !important;
}

#comments {
    display: block;
}.wp-pagenavi {
    clear: both;
    display: inline-block;
    position: relative;
    font-size: .8rem;
    font-weight: 700;
    line-height: 100%;
    padding: 0;
    text-transform: uppercase;
}

.wp-pagenavi span, .wp-pagenavi a {
    background: #fff;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #aaa;
    display: block;
    float: left;
    font-size: .8rem;
    font-weight: 400;
    margin: 2px 5px 2px 0;
    padding: 9px 12px 8px;
    text-decoration: none;
    width: auto;
}

.wp-pagenavi .current, .wp-pagenavi a:hover {
    background: #aaa;
    border-color: inherit !important;
    color: #fff;
}

#ez-toc-container ul li a::before {
    content:'';
}